.auto-resizable-iframe {
    max-width: 1050px;
    margin: 0px auto;
  }
  
  .auto-resizable-iframe > div {
    position: relative;
    padding-bottom: 75%;
    height: 0px;
  }
  
  .auto-resizable-iframe iframe {
    position: absolute;
    top: 80px;
    right: 0px;
    width: 100%;
    height: 100%;
  }

  .august-taylor {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
  }
